html {
    scroll-behavior: smooth;
}
body {
font-family: 'roboto';
}

.wrap-section {
    background-color: #3d3d3d;
}

.judul {
    background: url(../img/background.png);
    background-attachment: fixed;
    text-align: center;
    margin-top: 0;
    padding: 5%;
}
.judul h1{
    font-size: 6em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

.sub-judul {
    font-size: 4em;
    color: red;
    text-shadow: 1px 1px 5px #000000;
    text-decoration: none;
    font-weight: bold;
}

.sub-judul:hover {
    font-size: 4.5em;
    text-decoration: none;
    color: red;
}

.game {
    text-align: left;
    margin-top: 3%;
    padding: 2%;
}

.wrap-tentukan {
    margin-top: -20px;
}

#tentukan {
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    font-size: 2em;
    display: inline-block;
    margin-right: 15px;
}

#pilihan {
    display: inline-block;
    width: 20%;
    height: 40px;
    background: #00000060;
    box-shadow: 1px 1px 5px red;
    border: solid 3px #000000;
}

.button-pilihan {
    margin-bottom: 30px;
    margin-top: 0;
}

#batu,
#gunting,
#kertas {
    width: 100px;
    height: 40px;
    padding: 1px;
    font-size: 1.5em;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
}

#batu:hover, #gunting:hover, #kertas:hover {
    font-size: 1.6em;
    color: red;
    box-shadow: 1px 1px 5px red;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    text-align: center;
    display: inline-block;
    margin-left: 17%;
}

.komp {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    max-height: 80%;
}

.vs {
    padding-top: 20%;
}

.vs h2 {
    font-size: 9em;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 5px red;
}

.orang {
    margin-left: 6%;
    max-width: 80%;
    max-height: 80%;
}

#hasil {
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: center;
    font-size: 4em;
    color: #000000;
    font-weight: bold;
    text-shadow: 2px 2px 5px red;
}

#lagi {
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: bold;
    width: 200px;
    color: white;
    background-color: black;
}

#lagi:hover {
    font-size: 1.8em;
    color: red;
}

.refresh {
    font-size: 2em;
    font-weight: bold;
    margin-top: -1%;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: -15px;
}

.position {
    text-align: center;
    margin-bottom: 2%;
}

.position p {
    margin: 1% 10%;
}

.comp-side p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.player-side p {
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 2em;
    color: #000000;
    font-weight: bold;
}

.click {
    font-size: 1em;
    color:white;
    background-color: black;
    font-weight: bold;
}

.click:hover {
    font-size: 1.2em;
    color: red;
    box-shadow: 1px 1px 5px red;
}

@media (max-width: 770px) {
    .judul h1 {
        font-size: 5em;
    }

    .judul a {
        font-size: 4em;
    }

    .judul a:hover {
        font-size: 4.5em;
    }

    .comp-side {
        text-align: center;
    }

    .game {
        padding-top: 40px;
    }
}

@media (max-width: 580px) {
    .judul h1 {
        font-size: 4em;
    }

    .judul a {
        font-size: 2.8em;
    }

    #hasil {
        font-size: 3em;
    }

    .refresh {
        margin-bottom: 5px;
    }
}

@media (max-width: 415px) {
    .judul h1 {
        font-size: 2.8em;
    }

    .judul a {
        font-size: 1.8em;
    }

    .judul a:hover {
        font-size: 1.9em;
    }

    .game {
        padding-top: 15px;
    }
    .game label {
        font-size: 1.5em;
    }

    .refresh {
        font-size: 1.7em;
        margin-top: -10px;
        text-align: center;
        margin-bottom: 10px;
    }

    #hasil {
        font-size: 2.8em;
    }

    .comp-side p {
        font-size: 1.2em;
    }

}